body {
  background-color: grey;
}

h1 {
  color: purple;
  font-family: helvetica;
  background-color: white;
  border: 5px solid black;
  padding: 10px;
  text-align: center;
}

p {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.arrow {
  text-align: center;
}

.sidebar {
  height: 150px;
  width: 150px;
  position: fixed;
  top: 25;
  left: 0;
  padding-top: 10px;
  background-color: #F8F8FF;
  border: 5px solid black;
}

.sidebar div {
  padding: 4px;
  font-size: 18px;
  display: block;
}

.body-text {
  margin-left: 175px;
  margin-right: 175px
  font-size: 18px;
}

.arrow {
  text-align: center;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  text-align: center;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}